body
{
    font-family:Bahnschrift, 'Arial Narrow', Arial, sans-serif;
    background-image:linear-gradient(to left, #92beba, #509590);
}

header
{
    text-align:center;
}

img#moose
{
    transition: transform .2s;
}

img:hover
{
    transform:scale(1.05);
    cursor:pointer;
}